.video-container
{
  position:static;
  z-index: -100;

  left:0;
  width: 60%;
  height:calc(60vw* 0.3 ); /*El alto se calcula*/
  overflow: hidden;   

}

.video-container video
{
  position: absolute;
  left: 220px;
  width: 60vw;
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
  -o-border-radius: 30px 30px 30px 30px;
}
